<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Help </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{> header}}
        
        <p> This website helps you to get basic weather info for diff locations. </p>
        <ol>
            <li> Go to <a href="/">this page</a>. </li>
            <li> Enter location </li>
            <li> Click submit </li>
            <li> You can see the weather info for that location. </li>
        </ol>
    </div>

    {{> footer}}
</body>
</html>